body {
    font-family: Helvetica, sans-serif;
}
input, select {
    margin-left: 0.5em;
    margin-right: 1em;
}
.indicator {
    padding: .25em;
    font-weight: bold;
}
.invalid {
    background-color: #C9003A;
    color: #efefef;
}
.incorrect {
    color: #C9003A;
}
.correct {
    color: #035800;
}